<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--   <test thread-count="5" name="Test1">
  
  <parameter name="URL"  value="https://magento.softwaretestingboard.com/" />
    <classes>
      <class name="Demo.OnlineShopping.User"/>
    </classes>
  </test> -->
  <test thread-count="5" name="Test2">
   <parameter name="URL"  value="https://magento.softwaretestingboard.com/" />
    <classes>
      <class name="Demo.OnlineShopping.NegativeTesting"/>
      
    </classes>
  </test>
 
 
</suite> <!-- Suite -->
